## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
ciudades = ['Nueva York', 'Londres', 'Tokio', 'París', 'Sídney', 'Roma', 'Los Ángeles']
print(ciudades)

['Nueva York', 'Londres', 'Tokio', 'París', 'Sídney', 'Roma', 'Los Ángeles']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(ciudades[1])

Londres

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
print(ciudades[1:4])

['Londres', 'Tokio', 'París']

4) Visualizar el tipo de dato de la lista

In [4]:
print(type(ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [5]:
print(ciudades[2:])

['Tokio', 'París', 'Sídney', 'Roma', 'Los Ángeles']

6) Visualizar los primeros 4 elementos de la lista

In [6]:
print(ciudades[:4])

['Nueva York', 'Londres', 'Tokio', 'París']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [7]:
ciudades.append('Londres')
ciudades.append('Berlín')

8) Agregar otra ciudad, pero en la cuarta posición

In [8]:
ciudades.insert(3, 'Madrid')

9) Concatenar otra lista a la ya creada

In [9]:
otras_ciudades = ['Moscú', 'Pekín']
ciudades += otras_ciudades

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [10]:
indice_duplicado = ciudades.index('Londres')
print("Índice del duplicado 'Londres':", indice_duplicado)

Índice del duplicado 'Londres': 1

11) ¿Qué pasa si se busca un elemento que no existe?

In [11]:
#error

12) Eliminar un elemento de la lista

In [12]:
ciudades.remove('París')

13) ¿Qué pasa si el elemento a eliminar no existe?

In [13]:
#error

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [14]:
ultimo_elemento = ciudades.pop()
print("Último elemento de la lista:", ultimo_elemento)

Último elemento de la lista: Pekín

15) Mostrar la lista multiplicada por 4

In [15]:
print(ciudades * 4)

['Nueva York', 'Londres', 'Tokio', 'Madrid', 'Sídney', 'Roma', 'Los Ángeles', 'Londres', 'Berlín', 'Moscú', 'Nueva York', 'Londres', 'Tokio', 'Madrid', 'Sídney', 'Roma', 'Los Ángeles', 'Londres', 'Berlín', 'Moscú', 'Nueva York', 'Londres', 'Tokio', 'Madrid', 'Sídney', 'Roma', 'Los Ángeles', 'Londres', 'Berlín', 'Moscú', 'Nueva York', 'Londres', 'Tokio', 'Madrid', 'Sídney', 'Roma', 'Los Ángeles', 'Londres', 'Berlín', 'Moscú']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [16]:
numeros = tuple(range(1, 21))

17) Imprimir desde el índice 10 al 15 de la tupla

In [17]:
print(numeros[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [18]:
print(20 in numeros)
print(30 in numeros)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [19]:
if 'París' not in ciudades:
    ciudades.append('París')
    resultado = "París fue agregado a la lista."
else:
    resultado = "París ya existe en la lista."
print(resultado)

París fue agregado a la lista.

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [20]:
elemento_especifico = 'Londres'
print("Cantidad de veces que", elemento_especifico, "aparece en la lista:", ciudades.count(elemento_especifico))
print("Cantidad de veces que", elemento_especifico, "aparece en la tupla:", numeros.count(ciudades.count(elemento_especifico)))

Cantidad de veces que Londres aparece en la lista: 2
Cantidad de veces que Londres aparece en la tupla: 1

21) Convertir la tupla en una lista

In [21]:
numeros_lista = list(numeros)

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [22]:
num1, num2, num3, *_ = numeros

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [23]:
diccionario = {
    "ciudad": ciudades,
    "Pais": "Varios",
    "Continente": "Varios"
}

24) Imprimir las claves del diccionario

In [24]:
print("Claves del diccionario:", list(diccionario.keys()))

Claves del diccionario: ['ciudad', 'Pais', 'Continente']

25) Imprimir las ciudades a través de su clave

In [25]:
print("Ciudades:", diccionario["ciudad"])

Ciudades: ['Nueva York', 'Londres', 'Tokio', 'Madrid', 'Sídney', 'Roma', 'Los Ángeles', 'Londres', 'Berlín', 'Moscú', 'París']